* {
  box-sizing: border-box;
}

body,
.Noteworks {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  font-size: 16px;
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}

button:hover {
  color: #04c;
}

.Noteworks {
  display: flex;
}

/* NoteList */
.note-list {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.note-list-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 14px;
}
.note-list-header h1 {
  margin: 0;
}
.add-button {
  cursor: pointer;
  font-size: 24px;
}

.notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.note {
  padding: 25px;
  cursor: pointer;
}
.note-title {
  display: flex;
  justify-content: space-between;
}
.note p {
  margin: 10px 0;
}
.note small {
  display: block;
  color: #999;
}

.note:hover {
  background: #ddd;
}
.note.current,
.note.current small {
  background: #08c;
  color: white;
}

/* Note */
.note-main {
  width: 70%;
  height: 100vh;
}
.note-edit,
.note-preview {
  height: 50vh;
}

.no-current-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.note-edit {
  padding: 25px;
}

.note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}
